{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/email_html

    Template for all html emails. Note that it may wrap content formatted
    elsewhere in another a module template.

    Context variables required for this template:
    * sitefullname
    * siteshortname
    * sitewwwroot
    * subject
    * to
    * toname
    * touserid
    * tousername
    * from
    * fromname
    * replyto
    * replytoname
    * body
    * prefix

    Example context (json):
    {
        "prefix": "[Prefix Text]",
        "body": "Email body"
    }
}}

<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=utf-8">
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; charset=utf-8"><meta name=Generator content="Microsoft Word 15 (filtered medium)"><!--[if !mso]><style>v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style><![endif]--><style><!--
/* Font Definitions */
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:#015DA2;
	text-decoration:none none;}
span.EstiloDeEmail21
	{mso-style-type:personal-reply;
	font-family:"Arial",sans-serif;
	color:windowtext;
	font-weight:normal;
	font-style:normal;
	text-decoration:none none;}
.MsoChpDefault
	{mso-style-type:export-only;
	font-size:10.0pt;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:70.85pt 3.0cm 70.85pt 3.0cm;}
div.WordSection1
	{page:WordSection1;}
--></style><!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]--></head>
<body lang=PT-BR link="#015DA2" vlink="#015DA2"><div class=WordSection1>
	<div style='margin-top:5.0pt;margin-bottom:5.0pt'><div align=center><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:white'>
    <tr>
    	<td>
        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><img border=0 id="_x0000_i1025" style="text-align:left" src="{{sitewwwroot}}/repository/coursefilearea/file.php/1/email_images/topo.png"></span><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><o:p></o:p></span></p></td>
    </tr>
    <tr style='height:.75pt'>
    	<td style='border:none;border-bottom:solid #DEDEDE 1.0pt;padding:0cm 0cm 0cm 0cm;height:.75pt'></td>
    </tr>
    <tr>
		<td valign=top style='padding:15.0pt 15.0pt 6.0pt 15.0pt'><p class=MsoNormal style='line-height:125%'><span style='font-size:9.0pt;line-height:125%;font-family:"Tahoma",sans-serif;color:#666666'>
			
{{{body}}}

		</td>
	</tr>
	<tr>
    	<td style='padding:15.0pt 15.0pt 12.0pt 15.0pt'><p class=MsoNormal style='line-height:120%'><span style='font-size:9.0pt;line-height:120%;font-family:"Tahoma",sans-serif;color:#666666'>Atenciosamente,<br><br><b>Equipe QiSat</b><br>Central de Inscrições: (48) 3332-5000 / Fax: (48) 3332-5010<br>E-mail:</span><span style='font-size:9.0pt;line-height:120%;font-family:"Tahoma",sans-serif;color:#015DA2'> <a href="mailto:qisat@qisat.com.br">qisat@qisat.com.br</a><br><i><a href="http://www.qisat.com.br" target="_blank">http://www.qisat.com.br</a></i></span><span style='font-size:9.0pt;line-height:120%;font-family:"Tahoma",sans-serif;color:#666666'><o:p></o:p></span></p></td>
	</tr>
    </table></div></div></div>
    <div style='margin-top:5.0pt;margin-bottom:5.0pt'><div align=center><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:white'>
    <tr>
    	<td>
        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><img border=0 id="_x0000_i1025" style="text-align:left" src="{{sitewwwroot}}/repository/coursefilearea/file.php/1/email_images/imagem-rodape-email01.jpg"></span><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><o:p></o:p></span></p></td>
        <td>
        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><img border=0 id="_x0000_i1025" style="text-align:center" src="{{sitewwwroot}}/repository/coursefilearea/file.php/1/email_images/imagem-rodape-email02.jpg"></span><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><o:p></o:p></span></p></td>
        <td>
        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><img border=0 id="_x0000_i1025" style="text-align:right" src="{{sitewwwroot}}/repository/coursefilearea/file.php/1/email_images/imagem-rodape-email03.jpg"></span><span style='font-size:9.0pt;font-family:"Tahoma",sans-serif;color:#666666'><o:p></o:p></span></p></td>
    </tr>
	</table></div><p class=MsoNormal><o:p>&nbsp;</o:p></p></div></div></body></html>
